<!DOCTYPE html>
<html>
<head>
  <title>AuthenticationWithDevise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <ul>
      <li> <%= link_to 'gossip', public_path %> </li>
      <li> <%= link_to 'secret', secret_path %> </li>
      <li> <%= link_to 'really_secret', really_secret_path %> </li>
    </ul>

    <div class="log_in">
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to 'log out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <%= link_to 'Register', new_user_registration_path %>
      <% end %>
    </div>

  </nav>

  <%= yield %>

</body>
</html>
